{% extends "admin/master.html.twig" %}

{% block title %}Delete bouquet{% endblock %}

{% block main %}
    <h3>Delete bouquet</h3>
        Bouquet name: {{ v.name }}"<br>
        <img src="/images/{{v.imagefilepath}}" width="300"><br>
        
        <form method="POST">
            <p>Please confirm this action. It is irreversible</p>
            <input type="submit" value="Yes, delete the bouquet">
        </form>
        <a href="/admin/bouquets/list">Cancel - go back to the list</a>
{% endblock %}
