{% extends "admin/master.html.twig" %}
{% block title %}Update bouquet information{% endblock %}

 {% block head %}  
{# <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script> #}
{# <script>tinymce.init({selector:'textarea'});</script> #}
{% endblock %}

{% block main %}
    <form method="post" enctype="multipart/form-data">
        Name: <input type="text" name="name" value="{{v.name}}"><br>
        Photo: <input type="file" name="photo" /><br>
        <textarea name="description" cols="60" rows="10">{{v.description}}</textarea><br>
        Price: <input type="text" name="price" value="{{v.price}}"/>
        Show to customer? <input type="checkbox" value="1" name="isshow" {% if v.isshow == 1 %} checked {% endif %}><br>
        <a href="/admin/bouquets/list">Cancel</a>
        <input type="submit" value="{% if op == 'edit' %}Update bouquet{% else %}Add bouquet{% endif %}">
    </form>
    {% if errorList %}
        <ul class="errorMessage">
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
