{% extends "admin/master.html.twig" %}


{% block main %}

<p><a href="/admin/bouquets/add">Add a new bouquet</a></p>
    <div class="table-responsive">
        <table class="table" >    
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Bouquet Name</th>
                    <th>Price</th>
                    <th>Picture</th>
                    <th>Description</th>
                    <th>Show to customer</th>
                    <th>Actions</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for bouquet in bouquets %}
                <tr id="{{bouquet.id}}">
                    <td>{{bouquet.id}}</td>
                    <td>{{bouquet.name}}</td>
                    <td>{{bouquet.price}}</td>
                    <td>
                        {% if bouquet.imagefilepath %}
                        <img src="/images/{{bouquet.imagefilepath}}" width="200">
                        {% else %}
                            No image
                        {% endif %}
                    </td>
                    <td>{{bouquet.description|striptags}}</td>
                    <td>{{bouquet.isshow == 1 ? 'Yes' : 'No'}}</td>
                    <td>
                        <a href="/admin/bouquets/edit/{{bouquet.id}}">Edit</a>
                        <a href="/admin/bouquets/delete/{{bouquet.id}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
