{% extends "webmaster.html.twig" %}

{% block title %}admin
{% endblock %}

{% block head %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    // <script>
    //     var currPageNo = {{currPage}};

    //     window.addEventListener('popstate', (event) => {
    //         // console.log("location: " + document.location + ", state: " + JSON.stringify(event.state));
    //         loadPage(event.state.page, true);
    //     });

    //     function loadPage(newPageNo, noHistory = false) {
    //         if (newPageNo < 1 || newPageNo > {{maxPages}}) return;
    //         // remove bold from previously current page and put bold on the new currrent page nav link
    //         $("#pageNav" + currPageNo).css("font-weight","Normal");
    //         $("#pageNav" + newPageNo).css("font-weight","Bold");
    //         currPageNo = newPageNo;
    //         // only show prev and next if they are useful
    //         $("#pageNavPrev").toggle(newPageNo > 1);
    //         $("#pageNavNext").toggle(newPageNo < {{maxPages}});
    //         $(".articlePreviewBox").load("/ajaxsinglepage/" + currPageNo);
    //         if (noHistory == false) {
    //             history.pushState({page: currPageNo}, '', '/ajaxpaginated/' + currPageNo);
    //         }
    //     }

    //     $(document).ready(function() {
    //         $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
    //             // console.log("Ajax error occured on " + settings.url)；
    //             alert("Ajax error occured");
    //         });

    //         loadPage({{currPage}}, true);

    //     });
    // </script>
	<link rel="stylesheet" type="text/css" href="/styles/admin.css">
{% endblock %}

{% block content %}
	{% if userSession.isadmin %}
		<div class="container-fluid">
			<div class="row">
				<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
					<div class="sidebar-sticky pt-3">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="/admin/orders/list">Orders</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/users/list">Customers</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/admin/bouquets/list">Bouquets</a>
							</li>
						</ul>
					</div>
				</nav>
			{# </div> #}
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        	{% block main %}
			{% endblock %}
			</main>
		</div>
	{% endif %}
{% endblock %}
