{% extends "adminmaster.html.twig" %}
{% block main %}
	<div class="d-flex">
		<div class="float-md-right">
			<a href="\admin\addbouquet">add a bouquet</a>
		</div>
	</div>

    <div class="table-responsive">
        <table class="table" id="editableTable">    
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    {# <th>Description</th> #}
                    <th>Show to customer</th>
                </tr>
            </thead>
            <tbody>
                {% for bouquet in bouquets %}
                <tr id="{{bouquet.id}}">
                    <td>{{bouquet.id}}</td>
                    <td><a href="/admin/bouquet/{{bouquet.id}}">{{bouquet.name}}</a></td>
                    <td>{{bouquet.price}}</td>
                    <td><img src="{{bouquet.imagefilepath}}"></td>
                    {# <td>{{bouquet.description}}</td> #}
                    <td>{{ bouquet.isshow==1 ? 'Yes' : 'No' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
