{% extends "admin/master.html.twig" %}

{% block title %}Delete order{% endblock %}

{% block main %}
    <h3>Delete order</h3>
        Customer name: {{ c.name }}"<br>
        Order time: {{o.orderTS}}<br>
        Total price: {{o.totalprice}}<br>
        Is paid:  <input type="checkbox" value="1" name="ispaid" {% if o.ispaid == 1 %} checked {% endif %}><br>
        
        <form method="POST">
            <p>Please confirm this action. It is irreversible</p>
            <input type="submit" value="Yes, delete the order">
        </form>
        <a href="/admin/orders/list">Cancel - go back to the list</a>
{% endblock %}
