{% extends "admin/master.html.twig" %}

{# {% block head %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %} #}

{% block main %}
    <div class="table-responsive">
        <table class="table" >    
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Time</th>
                    <th>Customer Name</th>
                    <th>Total Price</th>
                    <th>Paid</th>
                    <th>Address</th>
                    <th>Actions</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr id="{{order.id}}">
                    <td>{{order.orderNumber}}</td>
                    <td>{{order.orderTS}}</td>
                    <td>{{order.name}}</td>
                    <td>{{order.totalprice}}</td>
                    <td>{{order.ispaid==1 ?'Paid' : 'Not'}}</td>
                    <td>{{order.address}}</td>
                    <td>
                        <a href="/admin/orders/orderdetail/{{order.id}}">Detail</a>
                        <a href="/admin/orders/delete/{{order.id}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pageNavigation">
        <br>
        {% if currPage >1 %}        
        <a href="/admin/orders/list/{{currPage-1}}" id="pageNavPrev" >Previous</a>
        {% endif %}
        {% for no in 1 .. maxPage %}
        <a href="/admin/orders/list/{{no}}" id="pageNav{{no}}" >{{no}}</a>
        {% endfor %}
        {% if currPage < maxPage %}        
        <a href="/admin/orders/list/{{currPage+1}}" id="pageNavPrev" >Next</a>
        {% endif %}
    </div>
{% endblock %}
