{% extends "admin/master.html.twig" %}

{% block head %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		function showOrderDetail() {}
	</script>
{% endblock %}

{% block main %}
	Customer Name: {{customerdetail.name}}<br>
	Address: {{customerdetail.address}}<br>
	Phone: {{customerdetail.phone}}<br>
	Time: {{customerdetail.orderTS}}<br>
	<div id="detail{{order.id}}">

		<table class="table">
			<thead>
				<tr>
					<th>Bouquet Id</th>
					<th>Bouquet Name</th>
					<th>amount</th>
					<th>total</th>
				</tr>
			</thead>
			<tbody>
				{% for orderdetail in orderdetails %}
					<tr>
						<td>{{orderdetail.bouquetId}}</td>
						<td>{{orderdetail.bouquetName}}</td>
						<td>{{orderdetail.quantity}}</td>
						<td>{{orderdetail.bouquetPrice}}</td>
					</tr>
				{% endfor %}
				<td>Total</td>
				<td></td>
				<td></td>
				<td>{{order.totalprice}}</td>
			</tbody>
		</table>

	</div>

{% endblock %}
