{% extends "admin/master.html.twig" %}

{% block main %}
	<div class="d-flex">
		<div class="float-md-right">
			<p><a href="/admin/users/add">Create a new user</a></p>
	
        <table class="table" >    
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Postcode</th>
                    <th>IsAdmin</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in usersList %}
                <tr id="{{user.id}}">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</a></td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.postcode}}</td>
                    <td>{{user.isadmin==1 ? 'Yes' : 'No'}}</td>
                    <td><a href="/admin/users/edit/{{user.id}}">Edit</a>
                        <a href="/admin/users/delete/{{user.id}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
