{% extends "webmaster.html.twig" %}

{% block title %}Home-shoutlist{% endblock %}

{% block content %}
        <h2 style="text-align:center">Cartitems List!</h2><br />
        {% if cartitems %}
            <table class="table" border="1">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Menu Name</th>    
                <th scope="col">Price</th>                    
                <th scope="col">Quantity</th>                               
                <th scope="col">Added Time</th>
                <th scope="col">Actions</th>                                
                </tr>
            </thead>        
            <tbody id="productContent">
                {% for cartitem in cartitems %}
                <tr>    
                <td scope="row">{{ cartitem['id'] }}</td>
                <td>{{ cartitem['menuName'] | slice(0, 20) }} </td>
                <td>{{ cartitem['price'] }}</td>    
                <td>{{ cartitem['quantity'] }}</td>
                <td>{{ cartitem['createdTS'] }}</td>    
                <td>
                    <a href="/cartitem/delete/{{cartitem['id']}}"><i class="fas fa-trash-alt"></i></a>
                </td>
                </tr>
                {% endfor %}
            </tbody>                
            </table>
        {% endif %}    
{% endblock %}