{% extends "webmaster.html.twig" %}
{% block link %}         
       <link rel="stylesheet" type="text/css" href="/styles/choosemenu.css" />  
{% endblock %}
{% block title %}Home-ChooseMenu{% endblock %}

{% block head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
     <script>
        var cart = [] ;
        $(document).ready(function(){
               refreshCartitemsList();
               
                // console.log(cart);
                console.productID;            
            $('.addCartBtn').click(function(e){

                var productID = $(this).data('id');
                var price = $(this).data('price');
                var menuName = $(this).data('menuname');
                var quantity = $("input[name=quantity" + productID + "]").val();                    
                let url = '/cart/add?productID=' + productID + '&quantity=' + quantity;
                //1. change cart 
                var item = {
                    id:productID,
                    quantity:quantity,
                    menuName:menuName,
                    price:price
                };
                //if select same product, need merge quantity
                var hasItem = false;                
                for (var i = 0; i < cart.length; i++) {
                    if(cart[i]['id']==productID){     
                        console.log(productID);                                      
                        cart[i]['quantity']++;
                        hasItem = true;
                    }
                } 
                
                if(hasItem==false){                
                    cart.push(item);
                } 
             
                $.ajax({
                    method: "GET",
                    url:url,
                })
                .done(function( msg ) {
                        var html = renderCart(cart);                          
                        //console.log(html);
                     $('#myCart').html(html);
                });    
            });


            $('#myCart').on( "click", ".deletCarItem", function() {              
                var productID = $(this).data('id');              
                               
               let url = '/cart/delete?cartID=' + productID ;
                     console.log(cart);                          
           
                for (var i = 0; i < cart.length; i++) {                
                    if(cart[i]['id']==productID){   
                        cart.pop(i);                                        
                    }
                } 
                
                var html = renderCart(cart);                                
                $('#myCart').html(html);

                $.ajax({
                    method: "GET",
                    url:url,
                })
                .done(function( msg ) {
                        var html = renderCart(cart);                          
                        //console.log(html);
                     $('#myCart').html(html);
                });    
            });            
            
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });

        function refreshCartitemsList() {
            $.ajax({ // FIXME: escape special characters using urlencode
                url: "/api/cartitems",
                type: "GET",
                dataType: "json",
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText + ", status: " + jqxhr.status);
                }
            }).done(function (cartitems) {
                for (var i = 0; i < cartitems.length; i++) {
                    var cartitem = cartitems[i];
                    var productID = cartitem.id;
                    var menuName = cartitem.menuName;
                    var quantity = cartitem.quantity;
                    var price = cartitem.price;    
                    var item = {
                        id:productID,
                        quantity:quantity,
                        menuName:menuName,
                        price:price
                    };
                    cart.push(item);                                    
                }                


                var html = renderCart(cart); 
                $('#myCart').html(html);
            });
        }        
        
    
        function renderCart(cart){
            var html = '<div id="cartOrderTitle" style="text-align:center;">Your Order </div><br />' ;
            var total = 0;
            for (var i = 0; i < cart.length; i++) {
                total += parseFloat(cart[i]['price'] * cart[i]['quantity']);
                html += '<div><b> &nbsp;'  + ' '  + cart[i]['menuName']  + ' ' + " $" 
                        +  cart[i]['price']+ ' * ' + cart[i]['quantity'] 
                         +'</b> <button class="btn btn-sm btn-danger deletCarItem" data-id="' 
                        + cart[i]['id']+'" > delete </button><hr></div>';             
            } 

            if(total>0){
                html = html + '<div style="text-align:center;">Total:' 
                            {% if userSession %}
                            + total.toFixed(2) + '<br /><a class="btn btn-sm btn-secondary" href="/checkout" >Check Out</a></div>  ';  
                            {% else %}    
                            + total.toFixed(2) + '<br /><a class="btn btn-sm btn-secondary" href="/login">Check Out</a></div>  '; 
                            {% endif %}     
            }else{
                html = html + '<div style="text-align:center;"><br /><br /><br /> <img src="/images/emptyCart.jpg" width="220"> <br />  <br /> Your car is empty! <br /> </div>';
            }       
            return html ;
        }
     </script>
{% endblock %}




{% block content %}
  
    <div class="container">
    
        <div id="myCart" style="overflow: auto; "></div>
        {% if menus %} 
            <div class="row">               
                {% for menu in menus %}              
                    <div class="col-12 col-md-3 py-md-3">
                        <img src="/images/{{ menu['imagefilepath'] }}" width="200" class="menuPicure">
                        <br /><br />
                        <p><b>{{ menu['name'] }}</b></p>
                        <p>
                            <span style="color:red">${{ menu['price'] }}</span> 
                            <input type="number" name="quantity{{menu.id}}" value="1" min="1" size="1" />&nbsp;&nbsp;
                        </p> 
                        <button class="btn btn-secondary addCartBtn" data-menuname="{{menu.name}}" data-id="{{menu.id}}" data-price="{{menu.price}}" >
                        Add Cart
                        </button>                
                    </div>
                    {% if menu.index is divisible by(3) %}  
                    </div>
                    <div class="row"> 
                    {% endif %}
                {% endfor %} 
            </div>
            <br /> <br />    
        {% endif %}                   
    </div>
    </div>
     
     <script>
        window.onscroll = function() {myFunction()};

        var header = document.getElementById("myCart");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>    
{% endblock %}
