
{% extends "webmaster.html.twig" %}

{% block link %}       
  <link rel="stylesheet" type="text/css" href="/styles/index.css" /> 
     {% endblock %}
{% block title %}Home-rainbowbouquet{% endblock %}

{% block head %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<div id="main-container-home" class="container-fluid" >  
<div id="myCarousel" class="carousel slide text-center col-12" style="margin-top:100px;>
	
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
	</ol>   
	
	<div class="carousel-inner">
		<div class="item active">
        {# <div class="carousel-caption">New Baby</div> #}
        
        <div  alt="First slide">
         <div class="captal">New Baby</div>
        <img src="images/baby1.png" width="220">
                        <img src="/images/baby2.png" width="220"> 
                        <img src="images/baby3.png" width="220"> 
                        <img src="images/baby4.png" width="220">   
                           </div> 
			
			
		</div>
		<div class="item">  
          <div class="captal">Birthday</div> 
			<div alt="second slid">
            <img src="images/birth1.jpg " width="220"> 
                        <img src="images/birth2.png" width="220"> 
                        <img src="images/birth3.png" width="220"> 
                        <img src="images/birth4.png" width="220"> </div>
		</div>
		<div class="item">
         <div class="captal">Wedding</div> 
			<div alt="third slid">
            <img src="images/love2.jpg" width="220"> 
                        <img src="images/love1.png" width="220"> 
                        <img src="images/love3.png" width="220"> 
                        <img src="images/love4.png" width="220"> </div>
		</div>
        <div class="item">
         <div class="captal">Other</div>    
			<div alt="fourth slid">
                                        
                        <img src="images/other1.png" width="220"> 
                        <img src="images/other2.png" width="220"> 
                        <img src="images/other3.png" width="220"> 
                        <img src="images/other4.jpg" width="220"></div>
		</div>



	</div>
	
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	</a>
</div> 
</div>
    {# <div id="main-container-home" class="container-fluid" >     
        <!--main carousel-->



            <div id="carouselExampleControls" class="carousel slide text-center col-12" data-ride="carousel" style="margin-top:80px;">
                <div class="carousel-inner">
                    
                    <div class="carousel-item active">
                        <h5>New Baby</h5>
                        <a href="#"><img src="images/baby1.png" width="220">
                        <img src="/images/baby2.png" width="220"> 
                        <img src="images/baby3.png" width="220"> 
                        <img src="images/baby4.png" width="220">      </a>         
                    </div>
                    <div class="carousel-item ">
                        <h5>Birthday</h5>                        
                        <a href="#"><img src="images/birth1.jpg " width="220"> 
                        <img src="images/birth2.png" width="220"> 
                        <img src="images/birth3.png" width="220"> 
                        <img src="images/birth4.png" width="220"> </a>
                    </div>
                    <div class="carousel-item ">
                        <h5>Wedding</h5>                              
                        <a href="#"><img src="images/love2.jpg" width="220"> 
                        <img src="images/love1.png" width="220"> 
                        <img src="images/love3.png" width="220"> 
                        <img src="images/love4.png" width="220"> </a>
                    </div>
                    <div class="carousel-item ">
                        <h5>Other</h5>                            
                        <a href="#"><img src="images/other1.png" width="220"> 
                        <img src="images/other2.png" width="220"> 
                        <img src="images/other3.png" width="220"> 
                        <img src="images/other4.jpg" width="220"> </a>
                    </div>
                   
                </div>
             
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a> 
            </div>
               
    </div> #}
    <div class="container-fluid" id="reviews-container">
        <div class="container">
            <div class="row" style="padding-top:40px;color:#252525;font size:40px">
                <div class="col-12 col-md-6 ">
                    <p >
                        We add value to people's lives through seamless online flower delivery and pickup.                        
                    </p>
                    <p>
                       You can order flowers and gifts online, on the phone, or through live chat with the Bloomex team of dedicated customer service staff. This ensures a more efficient and professional experience for every order. Having our own production facilities to carefully prepare and send your order means a better product and on time delivery, to more locations coast to coast.                        
                    </p>
                   
                </div>
                
                <div class="col-12 col-md-6">
                    <img src="images/home4.png">
                </div>            
            </div>
        </div>
    </div>    

    
{% endblock %}
