<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" href="/styles/index.css"/>
		<title>
			{% block title %}Default
			{% endblock %}
			phpProject</title>
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="centeredContent">
			<div id="contentHeader">
				{% if userSession %}
					<div class="divright">Yor are logged in as
						{{ userSession.name }}</div>
					<div class="divright">You can
						<a href="/logout">logout</a>
						or
						<a href="/articleaddedit">Buy something</a>
					</div>
				{% else %}
					<div class="divright">you can
						<a href="/login">Login</a>
						or
						<a href="/register">Register</a>
						to buy something</div>
				{% endif %}

            	<div id="content">
				{% block content %}{% endblock %}
				</div>
            </div>

            <div id="footer" class="divright">
                &copy; Copyright 2020 by
                <a href="http://rainbowbouquet.ipd21/">
                    WEN</a>.
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
			
    </body>
	</html>
