{% extends "accountmaster.html.twig" %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="/styles/account.css"/>
{% endblock %}
{% block title %}Home-Menu
{% endblock %}


{% block content %}
	<hr>
	<div class="container">
        <div class="row">
            <div class="col">		
				<br/>	            
                <div  class="inputBox">	
		       	<h3>SHIPPING TO</h3>								
					<hr />								
					<h5>{{ users.name }}</h5>
					<p>{{ users.address }}</p>
					<p>{{ users.postcode }}</p>
					<p>{{ users.phone }}</p>							
                </div>   
				<br/>	            
				<br />
                <div  class="inputBox">	
		       	<h3>PAYMENT</h3>								
					<hr />
					<form  method="POST">    
						
						<br />					    
						<div id="creditCardPayForm"> 	
								<div class="row">
									<div class="col-sm-4"><b>Payment method</b></div>
									<div class="col-sm-8">
										Credit Card 
										<a href="/checkout" style="float:right">Change payment method</a>
									</div>
								</div>					             
								<div class="row">
									<div class="col-sm-4"><b>Namd on Card</b></div>
									<div class="col-sm-8">
										Wen Xiang{{checkoutInfo.nameOnCard}}
									</div>
								</div>
                                
								<div class="row">
									<div class="col-sm-4"><b>Ending in</b></div>
									<div class="col-sm-8">
										4546{{checkoutInfo.lastFourCardNum}}
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4"><b>Expired</b></div>
									<div class="col-sm-8">
										01/23{{checkoutInfo.expirationDate}}
									</div>
								</div>		
								<br />												
								<div class="row">
									<div class="col-sm-4">
									</div>
									<div class="col-sm-8">										
										<a href="/placeorder/{{ subTotal }}" class="btn btn-sm btn-success">Place Order!</a>
									</div>
								</div>	
						</div>						
						<br />											         
					</form>
                </div>  
				<br />		                 
            </div>			
            <div class="col">
				<br />	
                <div  class="inputBox">
		       	<h3>ORDER SUMMARY</h3>								
					<hr />
					<h5>Sub Total: ${{ subTotal }} </h5>
					<p>Shipping Fee: $ {{ shippingFee }}</p>
					<p>5% GST: ${{ (subTotal*0.05)|number_format(2, '.', ',') }}</p>
					<p>9.98% QST: ${{ (subTotal*0.10)|number_format(2, '.', ',') }}</p>
					<h5>Estimated total: ${{ (subTotal + subTotal*0.05 + subTotal*0.10)|number_format(2, '.', ',') }}</h5>
                </div> 	
				<br />	
                <div  class="inputBox">
		       	<h3>ORDER DETAILS</h3>								
					<hr />
					{% if cartItems %}
					<table class="table">
					<thead>
						<tr>
						<th scope="col">#</th>
						<th scope="col">Menu Name</th>
						<th scope="col">Price</th>						
						<th scope="col">Quantity</th>
						</tr>
					</thead>
					<tbody>
					{% for cartItem in cartItems %}
						<tr>
						<th scope="row"><img src="../images/{{cartItem.pictureFilePath}}" width="50"/></th>
						<td>{{cartItem.menuName}}</td>
						<td>${{cartItem.price}}</td>
						<td>{{cartItem.quantity}}</td>					
						</tr>
					{% endfor %}																		
					</tbody>
					</table>
					{% endif %}
                </div>   				         
            </div>
        </div><br/>	
	</div>
{% endblock %}