{% extends "master.html.twig" %}

{% block title %}Placing order{% endblock %}

{% block content %}
   
    
    <h3>Confirm product information:</h3>

    <p>Total value before tax is {{ totalBeforeTax }}.</p>
    <p>Shipping before tax is {{ shippingBeforeTax }}.</p>
    <p>Taxes (GST/QST/HST) {{ taxes }}. </p>
    <p>Final total with shipping and taxes (amount to be paid):
        <b>{{ totalWithShippingAndTaxes }}</b>.</p>
         <h3>Confirm shipping information:</h3>
    <form method="POST">
        Name: <input type="text" name="name" value="{{sessionUser.name}}"><br>
        Address: <input type="text" name="address"><br>
        Postal code: <input type="text" name="postalCode"><br>
        Email: <input type="email" name="email" value="{{sessionUser.email}}"><br>
        Phone number: <input type="text" name="phoneNumber"><br>
        <p><u>TODO: payment information</u></p>
        <input type="submit" value="Place order">
    </form>
{% endblock %}
