{% extends "accountmaster.html.twig" %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="../styles/account.css"/>
{% endblock %}
{% block title %}Home-Menu
{% endblock %}


{% block content %}
	<hr>
	<div class="container">
		<br/>
		<h2>Order Successful</h2>
		<br/>
		<div class="inputBox">
            Your order number is {{orderNumber}}
		</div>
		<br/>
	</div>
{% endblock %}
