{% extends "accountmaster.html.twig" %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="/styles/account.css"/>
{% endblock %}
{% block title %}register
{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // alert("jQuery works");
            $('input[name=email]').on('paste blur change input', function() {
                var email = $('input[name=email]').val();
                $("#emailTaken").load("/isemailtaken/" + email);
            });

            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });

        });
    </script>
{% endblock %}

{% block content %}
	<hr>
	<div class="container">
		<br/>
		<h2>Register Your Account</h2>
		<br/>
        {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}

		<div style="padding:20px;background-color: white;border-radius:10px;">
			<form class="register"  method="POST"> 
				<div>	
                   <div class="form-group row">
						<label for="name" class="col-sm-2 col-form-label">Your Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="name" id="name" value="{{ v.name }}">
						</div>
					</div>      			   
					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="email" id="email" value="{{ v.email }}" placeholder="email@example.com">
						</div>
					</div>
					 <span class="errorMessage" id="emailTaken"></span><br>
                    <div class="form-group row">
						<label for="phone" class="col-sm-2 col-form-label">Phone Number</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="phone" id="phone" value="{{ v.phone }}" >
						</div>
					</div>
                    <div class="form-group row">
						<label for="address" class="col-sm-2 col-form-label">Address</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="address" id="address" value="{{ v.address }}">
						</div>
					</div>
                    <div class="form-group row">
						<label for="postcode" class="col-sm-2 col-form-label">Postcode</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="postcode" id="postcode" value="{{ v.postcode }}" >
						</div>
					</div>
					
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
						<div class="col-sm-10">
							<input type="password" name="password" class="form-control" id="inputPassword" >
						</div>
					</div>    
					<div class="form-group row">
						<label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
						<div class="col-sm-10">
							<input type="password" name="confirmPassword"  class="form-control" id="confirmPassword">
						</div>
					</div>		

				            
					          
					<div>
						<label for="inputPassword" class="col-sm-2 col-form-label"></label>
						<input type="submit" class="btn btn-success" id="submit" value="Register">
						&nbsp;&nbsp;&nbsp;<a href="/"  class="btn btn-success">Cancel</a>
					</div>
				</div>
			</form>
		</div>
		<br/>
	</div>

{% endblock %}

