{% extends "usermaster.html.twig" %}

{% block title %}RainbowBouquet | Order List
{% endblock %}

{% block content %}

	<div class="container-fluid">
		<h1 class="mt-4">Orders</h1>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>Menus Management
			</div>
			

			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>#</th>		
								<th>Serial Number</th>                                					
								<th>Customer</th>
								<th>Order Time</th>                            
								<th>Total Money</th>                               
															                                                                                           
							</tr>
						</thead>
						<tbody>
							{% for order in orders %}
								<tr>
									<td>{{order.id}}</td>
									<td>{{order.orderNumber}}</td>
									<td>{{order.customerName}}</td>                                       	
									<td>{{order.orderTS}}</td>                                      								
									
									<td>${{order.totalprice}}</td>            
									 									                                                                                                                                                                      
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				
			</div>
			
		</div>
		
	</div>

{% endblock %}
