{% extends "usermaster.html.twig" %}

{% block title %}Home-rainbowBouquet{% endblock %}

{% block content %}
  
<div class="container-fluid">
	<h1 class="mt-4">Infomation</h1>
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>My Info
    </div>
    <br />
    <div class="row" style="padding-left:40px;margin-top:20px;">
        <div>
			{% if user %}      
				<p><b>Email:</b> {{ user.email}} </p>           
				<p><b>Name:</b>  {{ user.name}} </p> 
				<p id="phoneShow"><b>Phone:</b>  {{ user.phone}}   &nbsp;&nbsp;&nbsp;<a href="#" id="phoneEditBtn">Edit</a></p>  				                          
				<p id="phoneEditInput"><b>Phone:</b> &nbsp;
					<span id="phoneError"> </span>
					<input type="text" name="phone" id="phone" value="{{ user.phone}} "> &nbsp;&nbsp;&nbsp;
					<a href="#" id="confirmPhone">Confirm</a></p>   
								                                      
				<div id="addresDisplay">
					<b>Address:</b>
					 {{ user.address}}, {{ user.postcode }} &nbsp;&nbsp;&nbsp;
					 <a href="#" id="addressEdit">Edit</a>
				</div>
				<br />
				<div id="addressForm" style="border:1px solid #b2b4b8;padding:15px; width:300px;">
					<h5>Address Edit</h5>
					<span id="addressError"> </span>
					Address &nbsp;<input type="text" name="address" id="address" value="{{ user.address}}"> <br /><br />
					
					<span id="postcodeError"> </span>					
					Postcode <input type="text" name="postcode" id="postcode"  value="{{ user.postcode}}"> <br />
					<br />
					<div class="text-center">
						<a href="#" id="confirmAddress" >Confirm</a>
					</div>
				</div>			  
				<br /><br />    
			{% endif %}       
        </div>    
    </div>
</div> 
<script>
        $(document).ready(function () {
            $("#phoneEditInput").hide();
			$("#addressForm").hide();
			$("#phoneEditBtn").click(function(){
                $("#phoneEditInput").show();
                $("#phoneShow").hide();               
            });

			$("#addressEdit").click(function(){
                $("#addressForm").show();
                $("#addresDisplay").hide();     				
			});

            $("#confirmPhone").click(function(){
                var phone = $("input[name=phone]").val();								
                // TODO: verify values are valid
                var userObj = { phone:phone };;
                var dataString = JSON.stringify(userObj);
                $.ajax({ 
                    url: "/api/users/phone",
                    type: "PATCH",
                    dataType: "json",
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function () {
					location.reload();
                });              
            });

            $("#confirmAddress").click(function(){
                var address = $("input[name=address]").val();		
				var postcode = $("input[name=postcode]").val();													

               
                var userObj = { address: address , postcode:postcode };;
                var dataString = JSON.stringify(userObj);
                $.ajax({
                    url: "/api/users/address",
                    type: "PATCH",
                    dataType: "json",
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function () {
					location.reload();
                });              
            });			

        });
</script>

{% endblock %}

