




<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="flower delivery store">

		<!-- Bootstrap CSS -->
		
		{% block link %}{% endblock %}
		
		<!-- Font Awesome-->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>		
		<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous"/>
				
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css"/>

		<!-- External CSS-->
		
		<title>
			{% block title %}Default
			{% endblock %}
			- home</title>

		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div class="header">
			<div class="row">
				{% block logo %}
                
					<div class="col-3 d-none text-center d-md-inline">
                    <a href="/"><img src="/images/logo.png" width="80"></a>
                    <i class="fab fa-facebook-f"></i>
								<i class="fab fa-twitter fa-lg py-4"></i>
								<i class="fab fa-youtube fa-lg py-4"></i>
							    <i class="fab fa-google fa-lg py-4"></i>
								<i class="fab fa-vimeo-v fa-lg py-4"></i>
						
					</div>
				{% endblock %}
				<div class="col-6 offset-3 offset-md-0 text-center" style="margin-top:22px">
				<a href="/choosemenu" >Products<a>
				</div>
				<div class="col-3 d-md-none py-4">
					<i class="fas fa-tty fa-lg"></i>
				</div>
				<div class="col-3 d-none d-md-inline py-4">
					{% if userSession %}
						<span>Hi 
							<a href="/user/"  target="_blank">{{ userSession.name }}</a>
						</span>
						&nbsp;&nbsp;<a href="/logout">Logout</a>
					{% else %}
						<a href="/login">Login</a>
                        &nbsp;&nbsp;
						or
						&nbsp;&nbsp;<a href="/register">Register</a>
					{% endif %}
					{% if userSession.isadmin %}
                    	<span>&nbsp;&nbsp;<a href="/admin">Access Admin Interface</a></span>
                	{% endif %}
					{% block cart %}{% endblock %}
					&nbsp;&nbsp;&nbsp;<i class="fas fa-globe-americas"></i>&nbsp;<a href="fr/index.html">FR</a>
				</div>
			</div>
		</div>
		<div id="layoutSidenav_nav">
				<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
					<div class="sb-sidenav-menu">
						<div class="nav">
							<a class="nav-link" href="/user/">
								<div class="sb-nav-link-icon">
									<i class="fas fa-tachometer-alt"></i>
								</div>
								My Information
							</a>							
							<a class="nav-link" href="/userorderhistory">
								<div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                My Order History
							</a>                        
							<a class="nav-link" href="/userchangepassword">
								<div class="sb-nav-link-icon">
									<i class="fas fa-tachometer-alt"></i>
								</div>
								Change Password
							</a>																																																
						</div>
					</div>
					
				</nav>
			</div>
		{% block content %}{% endblock %}

		<!-- footer -->
		
			{# <div class="container" >#}
				<div class="row" id="footer" > 
					<div class="col-12 col-md-4 text-center py-md-3">
						<p>
							<a href="#" class="blackColor">About Us</a>
						</p>
					 <p>	<i class="fab fa-linkedin fa-lg py-4"></i>
                              <i class="fab fa-facebook-f fa-lg py-4"></i>
						        <i class="fab fa-twitter fa-lg py-4"></i></p>
								<p><i class="fab fa-youtube fa-lg py-4"></i>
							    <i class="fab fa-google fa-lg py-4"></i>
								<i class="fab fa-vimeo-v fa-lg py-4"></i>
							</p>
					
			</div><br>
			<div class="col-12 col-md-4 text-center py-md-3">
				<p>+1(514)123.4567<br>123, Main Street<br>H1X2T3, Montreal</p>
				<p>
					<i class="fas fa-map-marked-alt fa-2x"></i>
				</p>
			</div>

			<div class="col-12 col-md-4 text-center py-md-3">
				<p>Customer Service<br>
					<a href="contact.html" class="blackColor">Contact Us</a><br>
					<a href="#" class="blackColor">Privacy Policy</a><br>
					<a href="#" class="blackColor">Terms of Service</a><br></p>
				<p>&#x24B8; 2020 Let's EAT Reserve</p>
			</div>
		</div>
	</body>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/styles/main.css"/> 
</html>
