body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}
.sidebar {
  background-color: #fff3d1;
}

#centeredContent {
    margin: 50px auto;
    padding: 20px;
    width: 960px; /* 500px; */
    background-color:lightblue;
}

.errorMessage {
    font-weight: bold;
    background-color: yellow;
    color: red;
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }