#myCart{
    width:320px;
    height: 400px;
     float:right; 
    position: absolute; 
     left:1250px;
    top:450px;
    border: 3px solid gray;    
  }

   #cartOrderTitle{
    background:#398506;
    color:white;
    width:320px;
    font-weight:bold;
    right: 100px;
}

.deletCarItem{
    float:right;
    margin-right:5px;  
} 