html{
    width:100%;
    overflow-x:hidden;
    }


body{
    background-color:white;
    color:black;
    font-family: 'Nunito', sans-serif;

}

.header{
    background-color:rgb(90, 197, 94);
    font-size: large;
    height:100px;
    
}

#main-container-home{
    background-image: url("../images/home5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height:600px;
    width: 100%;
}
h1, h2, h3, h4, h5 {
    font-family: 'Heebo', sans-serif;
}


.carousel-item p{
    font-size: 1rem;
}
.products{
    font-size: 20px;
}

.main-carousel{
    padding-top: 4rem;
    color:white;
}

/* .blackColor{
    color:black;
} */

#reviews-container{
    background-color:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height:500px;
    width: 100%;
    font-size: 20px;
}

#footer {
    background-color:rgb(90, 197, 94);
    /* width:100%; */
    font-size: 14px;
   
    
}
/* BOOTSTRAP MEDIUM
@media (max-width: 767px){
    #navbar-container{
        background-color: transparent;
    }
}

/* BOOTSTRAP SMALL */
 /* @media (max-width: 576px){
    #main-container-home{
        min-height:400px;
     }
 }

/* BOOTSTRAP MEDIUM */
 /* @media (min-width: 768px){
    #main-container-home{
       min-height:800px;
    }
    .carousel-item p{
        font-size: 2rem;
    }
    .main-carousel{
        padding-top: 7rem;
    }
}

/* BOOTSTRAP LARGE */
/* @media (min-width: 992px){
    #main-container-home{
       min-height:900px;
    }
    #navbar-container{
        font-size: 16px;
    }
}

/* BOOTSTRAP EXTRALARGE */
/* @media (min-width: 1200px){
    #main-container-home{
       min-height:1000px;
    }
}    */

.errorList{
    color:red;
}

.inputBox{
    padding:20px;
    background-color: white;
    border-radius:10px;
}

